.container {
	width: 550px;
	background: #fff;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	color: #fff;
	padding: 0 2rem;
	background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

#logo {
	font-weight: 700;
	font-size: 20.7482px;
	line-height: 24px;
	color: #ffffff;
	display: flex;
	align-items: center;
	gap: 5px;
}

.logo-img {
	width: 32px;
}

.form {
	font-size: 12px;
	line-height: 14px;
	color: #0d0d0d;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto;
	gap: 1rem;
	padding: 2rem;
}

.form input {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #d5d4d8;
	border-radius: 5px;
}

.form-btn {
	grid-column: 1/3;
	grid-row: 2/3;
	background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
	border-radius: 5px;
	color: #fff;
	height: 40px;
}

.meme img {
	width: 100%;
}
