* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #e5e5e5;
	font-family: "Karla";
}

.meme--text {
	position: absolute;
	color: #fff;
	text-shadow: 2px black;
}

.meme {
	margin: auto;
	width: 450px;
	background-size: 100%;
	text-align: center;
	position: relative;
}

h2 {
	position: absolute;
	margin: 15px 0;
	padding: 0 5px;
	font-size: 2.5em;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000,
		-2px 0px 0 #000, 2px 2px 5px #000;
}

.position-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding-top: 5px;
}

.top-text-container {
	border: 1px solid;
	padding: 8px;
}

input[type="radio"] {
	width: auto !important;
}

#text-1-fontSize,
#text-2-fontSize {
	width: 100px !important;
}

.font-family {
	grid-column: 1/3;
}
.font-family > * {
	display: inline-block;
	padding: 1rem;
}

legend {
	padding: 0 1rem !important;
}

input[type="radio"],
.form-btn {
	cursor: pointer;
}
